/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* variables */
:root {
  --text: rgb(43, 42, 42);
  --primary: #4b60be;
  --secondary: #23aed1;
  --tertiary: #8ae8ff;
  --warning: #f72828;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin';
  color: var(--text);
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* buttons */
button, .btn { 
  background: var(--tertiary);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  outline: 1px solid var(--secondary);
  transition: all ease 0.1s;
}
button:hover, .btn:hover {
  background: #63e0ff;
  color: rgb(27, 29, 37);
  outline: 2px solid var(--secondary);
  transition: all ease 0.1s;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid  var(--secondary);
  background: white;
}
input, textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  border-radius: 5px;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}